*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    color: #3c184e;
}

a{
    color: #fff;
    text-decoration: none;
}

h1{
    font-size: 55px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}
.img-logo{
    width: 30px;
    padding-right: 5px;
}
.fale-conosco{
    font-size: 20px;
    text-align: center;
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;

}

.whats{
    width: 25px;
    
}
.paragrafo-logo{
    font-size: 35px;
    margin: 0 0 5px 0;
}

.paragrafo-logo2{
    font-size: 14px;
    /*text-align: center;*/
    margin: 0;
}
.banner{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.secao-banner{
    background-image: url("/img/banner-topo.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 120px 80px;
    
}

.secao-servicos{
    width: 100%;
    padding: 120px 80px;
}
h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.lista{
    max-width: 800px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    color: #3c184e;
}
.servicos{
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}
.imagens-servicos{
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

li{
    font-size: 20px;
    margin: 0 0 20px 0;
}

li span{
    font-weight: 700;
    font-style: italic;
}
.secao-redes_sociais{
    padding: 120px 80px;
    color:#fff;
    background-color: #3c184e;
    align-items: center;
    
}
.rede-social{
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    text-align: center;

}

.rede-social span{
    font-weight: 700;
    font-style: italic;
}
.icons-rede-social {
    text-align: center;
    
}
.icons-rede-social a {
    text-decoration: none;
    margin:0 20px;
    display: inline-block;
}

.secao-redes_sociais img{
    width: 50px;
    height: 50px;
}
.secao-marcas{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.logo-marca {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

.secao-localizacao{
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}

.secao-localizacao p{
    font-size: 20px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}


.secao-rodape footer{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: #3c184e;
    text-align: center;
}
